#navbar {
  /* color: #fff; */
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30vh;
  padding: 5px;
  z-index: 1;

  position: fixed;
  width: 100%;
  
}

/* 
#navbar img {
  height: 60px;
} */

#link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

#navbar #link-container i {
  transition: ease-in;
  transition-duration: 0.3s;
  color: #cc9966;
}
#navbar #link-container i:hover {
  transition: ease-in;
  transition-duration: 0.3s;
  color: #bf5f00;
}

#navbar a {
  transition: ease-in;
  transition-duration: 0.3s;
  color: #fff;
  text-decoration: none;
}

#navbar a:hover {
  transition: ease-in;
  transition-duration: 0.3s;
  color: #cc9966;
}
